<h2 class="text-center">Edit Shopper</h2>

<form (ngSubmit)="onSubmit()" class="w-50 mx-auto mt-4 p-4 border rounded shadow-sm">
    <div class="mb-3">
      <label for="title" class="form-label">Name</label>
      <input [(ngModel)]="shopper.name" type="text" id="name" name="name" class="form-control" placeholder="Enter shopper name"/>
      <!-- The input field is bound to the name property of the shopper object using Angular's two-way binding [(ngModel)]. This means that the value of item.name will be synchronized with the input field. -->
      <!-- Once we open this edit form because of two-way binding the name of shopper before edit will be shown from database -->
      <!-- When we submit the form it will automatically change the items name of item object in edit-shopper.component.ts -->
    </div>
  
    <div class="d-flex justify-content-between">
      <a routerLink="/shoppers" class="btn btn-secondary">Cancel</a>
      <!-- Clicking on Cancel will navigate back to items list using routerLink="/shoppers". -->
  
      <button type="submit" class="btn btn-primary">Edit</button>
      <!-- Submit button triggers the form submission, calling onSubmit() from edit-shopper.component.ts -->
    </div>
  </form>
  